.carousel-inner img {
    filter: brightness(50%);
}


.added-comma {
    width: 35px;
}

/*----- star color---- */
.fa-star,
.fa-star-half-stroke {
    color: gold;
}

.social-side {
    font-size: 40px;
    width: 40px;
    height: 30px;
    margin: 20px;
}